.Footer {
    background-image: url(../images/mdflagbackground.jpg);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
} 

.icon {
    height: 60px;
    width: 60px;
    background-color: transparent;
}


.foot {
    font-size: small;  
    font-weight: bold;
      font-style: italic;
      color: aliceblue;
} 
